<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ficherosred">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AgendaActivity" />
        <activity android:name=".AlarmaActivity" />
        <activity android:name=".CalendarioActivity"/>
        <activity android:name=".WebActivity" />
        <activity android:name=".ImagenActivity" />
        <activity android:name=".ConversorActivity" />
        <activity android:name=".SubidaActivity"/>
        <activity android:name=".clase.ConexionHTTP" />
        <activity android:name=".clase.ConexionAsincronaHTTPCliente" />
        <activity android:name=".clase.ConexionVolley" />
        <activity android:name=".clase.ConexionAsincrona" />
        <activity android:name=".clase.Descarga" />
        <activity android:name=".clase.Subida"/>
    </application>

</manifest>